/* General Section Styles */
.contact-section,
.availability-section {
    background-color: #f8f9fa;
    padding: 40px 0;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Contact Section */
.contact-section h2 {
    margin-bottom: 20px;
    color: #343a40;
}

.contact-form .form-control,
.contact-form .btn {
    border-radius: 20px;
}

.contact-form .btn {
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s;
    width: 120px;
}

.contact-form .btn:hover {
    background-color: #0056b3;
}

/* Availability Section */
.availability-section h3 {
    font-weight: bold;
    color: #333;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.line {
    width: 100%; /* Full width */
    height: 2px;
    background-color: #000;
    margin: 20px 0;
}

/* Availability Box Styles */
.availability-item {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.availability-box {
    background-color: transparent;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    border-radius: 0;
    text-align: center;
    transition: transform 0.3s;
}

.availability-box:hover {
    transform: translateY(-10px);
}

.icon-circle {
    width: 70px;
    height: 70px;
    background-color: #add8e6;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #007bff;
    font-size: 28px;
    margin-bottom: 10px;
}

.availability-box p {
    margin: 0;
    color: #666;
    font-size: 16px;
}

/* Responsive Adjustments */
@media (max-width: 767px) {
    .map-container {
        margin-top: 20px;
    }
}

/* Custom Button */
.custom-btn {
    background-color: red !important;
    color: white;
    border: 2px solid black !important;
    padding: 10px 20px;
    font-weight: bold;
    width: 100% !important;
    max-width: 200px !important;
    transition: background-color 0.3s;
}

.custom-btn:hover {
    background-color: lightblue !important;
    color: black;
}
