/* Navbar */
.navbar {
  background-color: rgba(128, 184, 244, 0.7);
  position: fixed;
  width: 100%;
  z-index: 1100;
  padding: 15px 30px;
  margin-top: 40px;
}

.navbar .navbar-brand img {
  height: 110px;
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%) scale(1.5);
}

.navbar .nav-link {
  color: #ffffff !important;
  font-size: 20px;
  font-weight: bold;
}

.navbar .nav-link:hover {
  color: #0056b3;
}

/* Navbar adjustments for mobile */
.navbar-brand img {
  height: 50px; /* Smaller logo for mobile */
}

/* Ensure navbar links align in the center on mobile */
@media (max-width: 768px) {
  .navbar-collapse {
    text-align: center;
  }

  .navbar-nav {
    margin-top: 10px; /* Adds some space between links */
  }

  .nav-item {
    margin-bottom: 5px; /* Adds a bit of space between items */
  }
}

/* Adjusting color for toggler icon */
/* Styling the navbar toggler */
.navbar-toggler {
  background-color: #000; /* Black background for the toggler */
  border: none; /* Remove border */
  padding: 8px; /* Adjust padding if needed */
}

/* Creating the three lines for the toggler icon */
.navbar-toggler-icon {
  position: relative;
  width: 30px; /* Adjust width as needed */
  height: 2px; /* Thickness of each line */
  background-color: white; /* Color of the central line */
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: "";
  position: absolute;
  width: 30px; /* Same width as the central line */
  height: 2px; /* Same thickness as the central line */
  background-color: white; /* Color of the lines */
  left: 0;
}

.navbar-toggler-icon::before {
  top: -8px; /* Position the top line above the central line */
}

.navbar-toggler-icon::after {
  top: 8px; /* Position the bottom line below the central line */
}
